body{
	background:#1D2727;
	border:0px;
	padding:0px;
	margin:0px;
}

h1{
	font-family: "Arial" sans-serif;
	font-size: 20px;
	color:#645B4A
}

h2{
	font-family: "Arial" sans-serif;
	font-size: 16px;
	color:#645B4A
}

img{
	border:0px none;
}
table{
	width:100%;
	table-layout:fixed;
	border-collapse:collapse;
}

table.body{
	position:absolute;
	width:100%;
	z-index:2;
	top:210px;
	left:0px;
}

div.header{
	background:url('images/top.jpg') repeat-x;
	text-align: center;
	height:100%;
	width:100%;
	position:absolute:
	z-index:1;
	left:0px;
	top:0px;
}

div.background{
	position:absolute;
	z-index:1;
	width:100%;
	left:0px;
	top:256px;	
}
td{
	padding:0px;
	margin:0px;
	color: #004400;
}

td.tl{
	height:17px;
	width:11px;
}
td.tm{
	height:17px;
	width:100%;
	background: url('images/frame-tm.gif') repeat;
}
td.tr{
	height:17px;
	width:11px;
}
td.ml{
	height:100%;
	width:11px;
	background: url('images/frame-ml.gif') repeat;
}
td.mr{
	height:100%;
	width:11px;
	background: url('images/frame-mr.gif') repeat;
}
td.bl{
	height:16px;
	width:11px;
}
td.bm{
	height:16px;
	width:100%;
	background: url('images/frame-bm.gif') repeat;
}
td.br{
	height:16px;
	width:11px;
}
td.sidebar{
	width:150px;
	font-family:"Times New Roman" Serif;
	font-size:20px;	
	color:#F2FFC3;
	vertical-align:top;
}
td.body{
	height:100%;
	width:100%;
	font-family: "Arial" sans-serif;
	font-size: 14px;
	padding: 10px;
	color: #004400;
	background: url('images/frame-body.png') repeat;
}
b{
	font-size: 18px;	
	color:#645B4A;
}

a{
	color: #1D27FF;
}
a:link{
	color: #1D27FF;
}
a:visited{
	color: #1D2727;
}
a.sidebar{
	text-decoration:none;
	height:35px;
	font-size:40px;
	width:150px;
}

a.sidebar:hover{
	background:url('images/campfire.gif') no-repeat;
	height:35px;
	font-size:40px;
	width:150px;
}
div.copyright{
	color:#FFFFFF;	
	text-align:center;
	font-family:"Arial" sans-serif;
	font-size:10px;
}
